body{
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
/** header start**/
.container{
    margin: 1rem;
    border: 1px solid #99ceff;
    border-radius: 1rem;
    background-color: #99ceff;
    color: #0084ff;
}
.p1-header{
    line-height: 1.5rem;
    color: #3279bb;
}
.textes{
    text-align: center;
    padding: 1rem;
}
.h-header{
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: bold;
}
.header-btn{
    display: flex;
    margin: 0 auto;
    padding: 0.75rem 2rem;
    gap: 0.5rem;
    border: 1px solid #0084ff;
    border-radius: 40rem;
    color: #fff;
    background-color: #0084ff;
}
.header-btn:hover{
    background-color: #0084ff;
}

.inner-container{
    margin: 1rem;
    border: 1px solid #b3e9cb;
    border-radius: 1rem;
    background-color: #b3e9cb;
    color: #54c788;    
}
.fa-file-code{
    font-size: 4rem;
}
.p-header{
    line-height: 1.5rem;
}
@media(min-width:50rem){
    header, .container{
        display: flex;
    }
    header>*{
        padding-top: 3rem;
    }
    .img-header{
        width: 40%
    }
}
/** header start**/

/** start of section1**/
.section1>*{
    margin: 1rem;
    border: 1px;
    border-radius: 1rem;
    gap: 1rem;
}
.fa-solid{
    font-size: 4rem;
} 
.first{
    background-color: #ffbfbf;
}
.second{
    background-color: #ffddab;
}
.third{
    background-color: #c3c1f1;
}
.fa-desktop, .section1-h1{
    color: #ff8a8a;
}
.p1{
    color: #9e5d5d;
}
.p2{
    color: #a68454;
}
.p3{
    color: #676597;
}
.fa-code, .section1-h2{
    color: #ffc166;
}
.fa-volume-high, .section1-h3{
    color: #9693e6;
}

h2{
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: bold;
}
p{
    line-height: 1.5rem;
}
@media(min-width:50rem){
    .section1{
        display: flex;
    }
}
/** section 2 start**/
.section2{
    padding-bottom: 0.5rem;
    color: #fff;
    background-color: #9693e6;
}
.section2-h, .section2-h2{
    font-size: 1.5rem;
    padding: 1rem 0;
    font-weight: bold;
}
.section2-p{
    line-height: 1.5rem;
}
.section2-p2, .section2-h2{
    color: #4b4a65;
}
.section2-p2{
    font-style: italic;
}
.card{
    margin: 1rem;
    border: 1px;
    border-radius: 3rem;
    background-color: #fff;
}
@media(min-width:50rem){
    .section-2{
        display: flex;
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    }
    .section2-img{
        width: 15.625rem;
        padding: 0 4rem;
    }
    .section2-p2{
        width: 23.125rem;
    }
    .section2-t{
        padding: 10rem 0;
    } 
}
/** section 2 end **/
/** section 3 start **/